@inject IConfiguration _configuration
<div class="row">
    <div class="col-md-12">
        <img src="~/images/gbd/good-deed-books.png" alt="Good Deed Books Logo"
             class="img-fluid mx-auto d-block logo-main" id="main-logo" />
    </div>
    <div class="col-md-12">
        <p class="text-themed text-center">@_configuration["GoodDeeds:SuperOrganizationName"]</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <partial name="~/Views/Dashboard/_MonthlySales.cshtml" />
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-6">
        @* <component type="typeof(Students)" render-mode="ServerPrerendered" /> *@
        @* <component type="typeof(Counter)" render-mode="ServerPrerendered" /> *@
    </div>
    <div class="col-md-6">
    </div>
</div>
