@page "/payables/payments"

<PageTitle>Payments</PageTitle>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong>Payments</strong>
            </div>
            <div class="card-body">
                <p>Option to pay vendors will be displayed here.</p>
            </div>
        </div>
    </div>
</div>
